  
  body {
    
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: large;
    background: rgb(2,11,240);
    background: linear-gradient(130deg, rgba(2,11,240,1) 30%, rgba(194,20,143,1) 66%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
  }
  .card {
    border: 2px solid cyan;
    padding: 20px;
    margin: 20px 0;
    background-color: #1a1a1a;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px cyan;
    color: cyan;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  button{

    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid  red;
    color: red;
     font-size: px;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color:  red;
    color: white;
  }
  h1,label{

    color: white;
  }  
